body {
    background-color:hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#whitebox {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    margin: auto;
    height: 25em;
    weight: 40px;
    display: block;
    box-shadow: 7px 7px;
    border-radius: 20px;
}

#learn {
    background-color:hsl(47, 88%, 63%);
    padding: 0.5em;
    border-radius: 0.3em;
}

#profile {
    display: flex;
}