body {
    background-color:hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-size: 14px;
    font-style: normal;
}

#whitebox {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 27em;
    width: 18em;
    display: block;
    box-shadow: 7px 7px;
    border-radius: 20px;
}

#learn {
    background-color:hsl(47, 88%, 63%);
    padding: 0.3em 0.5em;
    margin-top: 1em;
    font-weight: bold;
    width: 4em;
    border-radius: 0.3em;
}

#profile {
    display: flex;
    gap: 0.5em;
    margin: auto;
    
}

#publish {
    color: Gray 950: hsl(0, 0%, 7%);
    font-weight: bold;
}

#photo {
    width: 2em;
    height: 2em;
}
#name {
    margin-top: auto;
    margin-bottom: auto;
}

#picture {
    border-radius: 10px;
    width: 100%;
}

p {
    color: hsl(0, 0%, 42%);
}